<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <div class="topHeader">
        <div class="imagenLogo">
          <img class="logoPrincipal" src="/images/logo-mercado-liebre.svg" />
        </div>

        <div class="padreBusqueda">
          <input
            class="barraBusqueda"
            type="text"
            placeholder="buscar productos, marcas"
          />
          <i class="fas fa-search"></i>
        </div>

        <div class="compra-cuotas">
          <i class="fas fa-hand-holding-usd"></i>
          <span>Compra en cuotas y sin tarjeta de credito</span>
        </div>
      </div>

      <nav class="lista">
        <ul class="primerLista">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="segundaLista">
          <li><a href="register.html">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
          <li><a href="login.html">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
          <li>
            <a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <a href="#"><i class="fas fa-bars"></i></a>
      </div>

      <div class="home-banner">
        <img src="/images/img-home-banner.jpg" width="100%" />
      </div>
    </header>

    <main>
      <h2 class="titulares">Basado en tu ultima visita</h2>
      <section class="ultimaVista">
        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-cafetera-moulinex.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$6.770</div>
            <div class="descuentos">40% OFF</div>
          </div>

          <div class="descripciones">Cafetera Moulinex</div>
        </article>

        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-macbook-pro-2019.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$230.000</div>
            <div class="descuentos">20% off</div>
          </div>

          <div class="descripciones">MacBook Pro 2019</div>
        </article>

        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$70.500</div>
            <div class="descuentos">10% off</div>
          </div>

          <div class="descripciones">Samsung Galaxy S10</div>
        </article>

        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-tv-samsung-smart.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$23.200</div>
            <div class="descuentos">5% off</div>
          </div>

          <div class="descripciones">SmartTv Samsung 43"</div>
        </article>
      </section>

      <h2 class="titulares">Ofertas</h2>
      <section class="ofertas">
        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-cafetera-moulinex.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$6.770</div>
            <div class="descuentos">40% OFF</div>
          </div>

          <div class="descripciones">Cafetera Moulinex</div>
        </article>

        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-macbook-pro-2019.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$230.000</div>
            <div class="descuentos">20% off</div>
          </div>
          <div class="descripciones">MacBook Pro 2019</div>
        </article>

        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$70.500</div>
            <div class="descuentos">10% off</div>
          </div>

          <div class="descripciones">Samsung Galaxy S10</div>
        </article>

        <article class="producto">
          <div class="imagenProducto">
            <img src="/images/img-tv-samsung-smart.jpg" width="100%" />
          </div>

          <span class="truck"><i class="fas fa-truck"></i></span>

          <div class="preciosDescuentos">
            <div class="precios">$23.200</div>
            <div class="descuentos">5% off</div>
          </div>

          <div class="descripciones">SmartTv Samsung 43"</div>
        </article>
      </section>
    </main>

    <footer>
      <div class="icono-footer"><i class="fas fa-credit-card"></i></div>

      <div><h3>Paga con tarjeta o en efectivo</h3></div>

      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>

      <div class="icono-footer"><i class="fas fa-gift"></i></div>

      <div><h3>Envio gratis desde $2500</h3></div>

      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>

      <div class="icono-footer"><i class="fas fa-user-shield"></i></div>

      <div><h3>Seguridad, de principio a fin</h3></div>

      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>

      <div class="copyright">
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </div>
    </footer>
  </body>
</html>
